In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khatanga,RU,2020-07-05 21:30:46,71.97,102.50,50.95,61,0,16.44
1,1,Busselton,AU,2020-07-05 21:28:38,-33.65,115.33,55.00,83,0,16.64
2,2,Tuktoyaktuk,CA,2020-07-05 21:30:46,69.45,-133.04,44.60,87,90,11.41
3,3,Mataura,NZ,2020-07-05 21:30:46,-46.19,168.86,43.59,94,97,0.83
4,4,Barrow,US,2020-07-05 21:30:46,71.29,-156.79,42.80,70,1,11.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Shelburne,CA,2020-07-05 21:30:47,44.08,-80.20,86.00,37,1,6.93
7,7,Boa Vista,BR,2020-07-05 21:29:29,2.82,-60.67,87.80,55,40,8.05
10,10,Hilo,US,2020-07-05 21:29:26,19.73,-155.09,84.20,62,90,10.29
12,12,Mandera,KE,2020-07-05 21:30:48,3.94,41.87,80.76,54,99,23.11
17,17,Neiafu,TO,2020-07-05 21:30:49,-18.65,-173.98,78.80,88,75,10.29
18,18,Kirakira,SB,2020-07-05 21:30:49,-10.45,161.92,80.65,81,100,9.95
27,27,Fare,PF,2020-07-05 21:30:51,-16.70,-151.02,79.41,75,7,16.31
37,37,Atuona,PF,2020-07-05 21:30:53,-9.80,-139.03,79.54,77,21,21.27
41,41,Manaure,CO,2020-07-05 21:30:54,11.78,-72.44,88.05,55,94,15.35
44,44,Hami,CN,2020-07-05 21:30:55,42.80,93.45,80.74,22,86,24.14

In [19]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng Hotel Name
6   Shelburne      CA     86.00  44.08  -80.20
7   Boa Vista      BR     87.80   2.82  -60.67
10       Hilo      US     84.20  19.73 -155.09
12    Mandera      KE     80.76   3.94   41.87
17     Neiafu      TO     78.80 -18.65 -173.98
18   Kirakira      SB     80.65 -10.45  161.92
27       Fare      PF     79.41 -16.70 -151.02
37     Atuona      PF     79.54  -9.80 -139.03
41    Manaure      CO     88.05  11.78  -72.44
44       Hami      CN     80.74  42.80   93.45

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng                     Hotel Name
6   Shelburne      CA     86.00  44.08  -80.20        The Retreat at the Farm
7   Boa Vista      BR     87.80   2.82  -60.67             Aipana Plaza Hotel
10       Hilo      US     84.20  19.73 -155.09            Hilo Hawaiian Hotel
12    Mandera      KE     80.76   3.94   41.87      Kornesh Hotel and Lodging
17     Neiafu      TO     78.80 -18.65 -173.98                   Mystic Sands
18   Kirakira      SB     80.65 -10.45  161.92                   SanBiz Lodge
27       Fare      PF     79.41 -16.70 -151.02  Maitai Lapita Village Huahine
37     Atuona      PF     79.54  -9.80 -139.03                    Villa Enata
41    Manaure      CO     88.05  11.78  -72.44                 Del mar vendra
44       Hami      CN     80.74  42.80   93.45               Laoyutang Resort

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))