In [1]:
import pandas as pd

In [2]:
import_df = pd.read_csv("weather_data/WeatherPy_database.csv")

In [3]:
# Ask the customer to add a minimum and maximum temperature value as well as rain and snow conditions.
min_temp = int(input("What is the minimum temperature you would like for your trip? "))
max_temp = int(input("What is the maximum temperature you would like for your trip? "))
rain_status = input("Do you want it to be raining? (yes/no)")
snow_status = input("Do you want it to be snowing? (yes/no)")

In [10]:
# set filters using .loc based on the inputs
weather_vacation_df = import_df.loc[(import_df['Max Temp'] >= min_temp) & (import_df['Max Temp'] <= max_temp)]

if rain_status == "yes":
    weather_vacation_df = weather_vacation_df[weather_vacation_df["Rain (inches)"] != 0]
else:
    weather_vacation_df = weather_vacation_df[weather_vacation_df["Rain (inches)"] == 0]
     
if snow_status == "yes":
    weather_vacation_df = weather_vacation_df[weather_vacation_df["Snow (inches)"] != 0]
else:
    weather_vacation_df = weather_vacation_df[weather_vacation_df["Snow (inches)"] == 0]
weather_vacation_df = weather_vacation_df.drop(columns="Unnamed: 0")

In [11]:
weather_vacation_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
11,Linqiong,CN,30.42,103.46,86.00,61,95,4.47,overcast clouds,0.0,0.0
16,Jasper,US,37.20,-94.35,82.40,65,1,4.70,clear sky,0.0,0.0
21,Laval,CA,45.57,-73.69,78.01,38,40,6.93,scattered clouds,0.0,0.0
23,Ambon,ID,-3.70,128.18,82.40,78,40,5.82,scattered clouds,0.0,0.0
27,Kudahuvadhoo,MV,2.67,72.89,84.07,72,100,10.76,overcast clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
554,Ati,TD,13.22,18.34,81.72,55,66,12.01,broken clouds,0.0,0.0
556,Vostok,RU,46.49,135.88,78.08,43,65,5.39,broken clouds,0.0,0.0
557,Wilmington,US,34.23,-77.94,79.00,74,1,3.36,clear sky,0.0,0.0
560,Kalianget,ID,-7.05,113.93,83.71,72,18,15.88,few clouds,0.0,0.0
565,Piney Green,US,34.72,-77.32,79.00,83,20,4.38,few clouds,0.0,0.0

In [5]:
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Condition} and {Max Temp} °F</dd></dl>
"""

In [12]:
weather_vacation_df.to_csv("weather_data/WeatherPy_vacation.csv")